body {
  font-size: 1em;
  font-family: 'Libre Baskerville', serif;
  color:#564b47;  
  padding-left: 50px;
  padding-right: 20%;
}


a {
    color: #0088cc;
    text-decoration: none;
}

pre {
    background-color: #E8E8E8;
    margin-left: 30px;
    padding: 5px;
    width: 80%;
    overflow: scroll;
}

code {
    background-color: #E8E8E8;
    padding-left: 3px;
    padding-right: 3px;
}

table {
    border: none;
}

td {
    padding-left: 20px;
}

#header h1 {
    color: #E7601E;
    font-family: 'Nova Square', sans-serif;
    font-size: 2.2em;
}

#header a {
    color: #E7601E;
    text-decoration: none;
}

#content {

	width: 75%;
	min-width: 600px;
	margin-left: 240px;
}

#sidebar {
	float: left;
	width: 240px;
}

#sidebar-content {
    margin: 0 25px 0 0;
}

#sidebar-content {
    font-family: 'Nova Square', sans-serif;
}

#footer {
    font-family: 'Nova Square', sans-serif;
	clear: both;
	width: 100%;
}

.post {
	margin: 10px;
}

.entry {
	margin-left: 10px;
	padding: 10px;
}

.entry img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.meta {
	padding-top: 10px;
}

.category {
    padding-top: 10px;
    padding-left: 10px;
    font-size: x-small;

}
